
/* .custom-center {
  display: flex;
  align-items: center;
} */

/* .shift-right {
    margin-left: 11px;
  } */

.shift-right2 {
  margin-left: 30px;
}
.center-content {
  display: flex;
  justify-content: center;
}

.green-text {
  color: green;
}